<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-control" content="public">
        <link href="/static/images/icon-gopher-brown.png" rel="icon" type="image/x-icon">
        <link href="/static/css/base.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <title>Online-compiler</title>

    </head>
    <body>
        <div >
            <header>
                <nav>
                  <ul>
                    <li><a class="why" href="/"><img width="82" height="32" src="static/images/go-logo-white.svg"></a></li>
                    <li><a class="why" href="/why">Why go</a></li>
                    <li><a class="why" href="/about">About</a></li>
                    <li><a class="why" href="/terms">Terms of service</a></li>
                    <li><a class="why" href="/contacts">Contact</a></li>
                  </ul>
              </header>
              <main class="SiteContent SiteContent--default">
                <article class="Article ">
                  <h1>About</h1>
                  <p>Better Go Playground. Good tool for learning programming in online ide with ace editor and golang compile supported</p>
                </article>
              </main>
        </div>
    </body>
</html>