/* .header {
  padding: 10px;
  text-align: left;
  background:  #007d9c;
  color: white;
  font-size: 12px;
} */
/* * {
  box-sizing: border-box;
} */
body {
  margin: 0;
  padding: 0;
  background-color: #fff;;
}
nav ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: #007d9c;
  text-align: center; /* step 6 */
}
nav li {
display: inline-block; /* step 1 */
width: 20%; /* step 4 */
margin-right: -4px; /* step 5 */
}
nav a {
display: block; /* step 2 */
text-decoration: none; /* step 3 */
}
/* common text style */
nav a {
font-family: sans-serif;
height: 40%; /* vertically center */
line-height: 40%; /* vertically center */
color: #fff;
}
/* nav a:hover {
background-color: #005f5f;
}

nav a.active {
background-color: #eee;
color: #444;
cursor: default;
} */
#footer {
  background-color:#c0392b;
  width:100%;
  position:fixed;
  bottom:0;
  padding:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
#line-break {
  height:1.75rem; 
  padding:0 0.625rem;
}
#editor {
  height: 86%; 
  width: 90%
}
#code-button-group {
  display:inline-block; 
  padding-bottom: 1em;
}
#textbox {
  width:96%;
  height:83.5%;
  ;overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffdd;
  border: solid #5B6DCD 3px;
   padding: 5px;
   box-sizing: content-box;
}
.code-button {
  align-items: center;
  background-color: #ffffdd;;
  border: none;
  border-radius: 0.1875rem;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  color: #007d9c;
  cursor: pointer;
  display: inline-flex;
  font: bold 0.875rem Roboto, sans-serif;
  height: 1.75rem;
  padding: 0 0.625rem;
  justify-content: center;
  min-width: 4.063rem;
  text-decoration: none;
}
.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 80px;
}
  
  /* Control the left side */
.left {
  left: 0;
}
  
  /* Control the right side */
.right {
  right: 0;
}
  
  /* If you want the content centered horizontally and vertically */

#stdout {
  overflow-wrap: break-word;
  white-space: normal;
}
#stderr {
  overflow-wrap: break-word;
  white-space: normal;
}
  /* Style the image inside the centered container, if needed */
/* .centered img {
  width: 150px;
  border-radius: 50%;
} */